<p id="notice"><%= notice %></p>
<style><%= ".style_#{current_user.profile.id}" %>{float: right !important; text-align:right !important;}</style>

<aside id="showSpeech">
  
</aside>
      <% session[:dialog] = @dialog.id %>

<div id="speechMessage"></div>
<script type="text/javascript">
  $("#speechMessage").load("<%= new_speech_path() %>");
  $("#showSpeech").load("<%= render 'speeches' %>")
</script>



