<p id="notice"><%= notice %></p>
<style><%= ".style_#{current_user.profile.id}" %>{float: right !important; text-align:right !important;}</style>

      <% session[:dialog] = @dialog.id %>
<aside id="showSpeech">
  
</aside>




<div id="speechMessage"></div>
<script type="text/javascript">
  $("#speechMessage").load("<%= new_speech_path() %>");
  setInterval(function(){ $("#showSpeech").load("/dialogs-speeches"); }, 3000);
  
</script>



