  <% @recentspeeches.each do |s| %>
    <h6 class="speech style_<%= s.profile_id %>">
      <%= s.message %>
    </h6>
    <div class="col-sm-12" style="display:block"></div>
    <% session[:lastspeeches] = @actualspeeches %>
  <% end %>