/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800&subset=latin-ext');
 body{background:#F5F5F5; font-family: Raleway; font-weight: 400;}
 main{margin-top:120px;}
.navbar-fixed-top{height:90px; background:white; border-bottom:1px solid #eeeeee;}
.navbar-nav > li > a {
    padding-top: 32px;
    padding-bottom: 32px;
    /* Style for "ATUAÇÃO" */
	color: #29324a !important;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 800;
	text-transform: uppercase;
}
.navbar-brand {
    float: left;
    padding: 31px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 55px;
}
form {
	width:400px;
	height:auto;
	display:block;
	margin: auto;
	padding:20px;
	border: 1px solid #eeeeee;
	background: white;
}
form span {
		padding:30px;
		text-align:center !important;
		margin-top:50px;
}

.control-label {border-radius:20px; padding: 5px 15px; border-style:solid; border:1px solid #cccccc
}
.form-group{
	margin-top:10px; display:block;
	min-height:55px;
}

h3 { text-align:center;
    width: 100%;
	color: #29324a !important;
	font-family: Raleway;
	font-weight: 800;
	text-transform: uppercase;
}
.btn-primary {background:black;
	color: white !important;
	font-family: Raleway;
	font-weight: 800;
	text-transform: uppercase;
	border-radius:20px;
	padding: 5px 15px;
	margin:auto 10%;
	width:80%;
}
.btn-lateral {
  max-width:54%;
  margin:auto;
}
.btn-lateral:last-child {
  max-width:44%;
}
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.grid-container > div {
  margin: 10px;
  border: 1px solid #aaaaaa;
  background: white;
  border-radius: 1px;
  font-size: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.grid-container > div > span {
  float:left;
  text-align: left !important;
  margin:20px;
  width:90px;
  height: 90px;
  border:1px solid #aaaaaa;
  background: #fcfcfc;
  border-radius: 50%;
  padding:25px;
  display: block;
}

.grid-container > div > div {
  float:left;
  text-align: left !important;
  margin:40px 20px 50px 50px;;
  width:70px;
  height: 70px;
  border:1px solid #aaaaaa;
  background: #fcfcfc;
  border-radius: 50%;
  padding:20px;
  display: block;
}

.grid-container > div > h2 {font-size:40px; text-align: left !important; font-weight:700 !important; margin-top:30px; margin-bottom:0px; }
.grid-container > div > h3 {text-align:center; font-size:30px; text-align: left !important; font-weight:700 !important; margin-top:40px; margin-bottom:0px; font-variant: all-small-caps;}
.grid-container > div > p {font-size:15px; text-align: left !important;  font-variant: all-small-caps;}

.grid-container > .div-last {
  grid-column: 2 / span 2;
  grid-row: 2;
}
.grid-container > div > aside > span {}
.control-label{border:0px;}
.form-horizontal {
	height:auto;
	display:block;
	padding:20px;
	border: 1px solid #eeeeee;
	background: white;
}
.form-control{border-radius:20px; height: 40px;}
h1{text-align:center; font-weight: 800; font-variant:all-small-caps !important;}
h4{text-align:center; font-weight: 800; font-variant:all-small-caps !important;}
.headlogin{text-align:left; font-weight: 400; font-variant:all-small-caps; width:100%; border-bottom: 5px solid #555555;}
select{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius:20px; height: 40px;
    }
.panel{margin-bottom:0px !important; background-color:white !important; border-bottom:0px !important;
-webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-radius:0px !important;}
.panel:first-child{border-radius:10px 10px 0px 0px !important;}
.panel:last-child{border-radius:0px 0px 10px 10px !important; border-bottom:1px !important;}
.control-label{
font-variant:all-small-caps !important; 
font-weight:800; font-size:18px !important;

}
.modal-btn{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin:auto;
    margin-top:27px;
    color: white !important;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    width:100% !important;
    }
  .alert{position:absolute; width:100%}
.box-in{
  border: 1px solid #aaaaaa;
  background: white;
  border-radius: 1px;
  font-size: 15px;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  padding:35px 85px;
}
.box-mini{
  padding:35px 45px;
  margin-bottom:20px;
}
.box-in h4{
  text-align:left;
  margin:0px;
}
.box-in h2{
  text-align:left;
  font-weight:510;
  font-size:40px;
  margin:0px;
}
.box-propose{
  border: 1px solid #aaaaaa;
  background: white;
  border-radius: 1px;
  font-size: 15px;
  text-align: justify;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  padding:15px 25px;
}
.box-propose div{
float: left;
    text-align: left !important;
    margin: 0px 20px 50px 50px;
    width: 70px;
    height: 70px;
    border: 1px solid #aaaaaa;
    background: #fcfcfc;
    border-radius: 50%;
    padding: 20px;
    display: block;}
.box-propose span{
color:green; font-weight:bold}